
.project
.classpath
.settings/org.eclipse.wst.common.project.facet.core.xml
.settings/org.eclipse.wst.common.component
*.component
*.xml
*.jar
*.xml
*.xml
.metadata/.lock
.metadata/.log
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.location
*.version
*.index
*.tree
*.resources
*.prefs
*.xmi
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
*.txt
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
*.dat
*.ser
*.log
*.setup
.metadata/.plugins/org.eclipse.ui.intro/introstate
*.ini
.classpath
